{% extends "base.html" %}
{% block texto_h1 %} Listado de Peliculas {% endblock texto_h1 %}


{% block contenido %} 
    <form action="" method="GET">
        
        {{formulario}}
          
        <input type="submit" value="Buscar">

    </form>

    {% if pelicula_buscada %}
        <ul>
            {% for pelis in pelicula_buscada %}
                <li>
                    {{pelis}}
                    <a href={% url "detalle_pelicula" pelis.id %}>Detalle</a>
                    <a href={% url "actualizar_pelicula" pelis.id %}>Actualizar</a>
                    <a href={% url "borrar_pelicula" pelis.id %}>Borrar</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay datos</p>         
    {% endif %}
{% endblock contenido %}        
    
